<div class="changePassword">
    <form m [formGroup]="changePasswordForm" nz-form enctype="multipart/form-data" class="changePasswordForm">
        <h2 class="cphead">{{'changePassword'|translate}}</h2>
        <nz-form-item>
            <nz-form-label [nzSpan]="8" nzFor="password" nzRequired>
                {{'currentPassword'|translate}}
            </nz-form-label>
            <nz-form-control [nzSpan]="12" [nzErrorTip]="passwordTpl">
                <nz-input-group [nzSuffix]="suffixTemplate" class="ip">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                        name="password" type="text" id="password" placeholder="{{'enterpaswordPlace'|translate}}" />
                    <ng-template #passwordTpl let-control>
                        <ng-container *ngIf="control.hasError('minlength')">{{'passwordMin'|translate}}</ng-container>
                        <ng-container
                            *ngIf="control.hasError('required')">{{'passwordRequire'|translate}}</ng-container>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
            <ng-template #suffixTemplate>
                <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"></span>
            </ng-template>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="8" nzFor="new_password" nzRequired>
                {{'newPassword'|translate}}
            </nz-form-label>
            <nz-form-control [nzSpan]="12" [nzErrorTip]="newpasswordTpl">
                <nz-input-group [nzSuffix]="NewPassTem" class="ip">
                    <input [type]="newPassVisible ? 'text' : 'password'" nz-input formControlName="new_password"
                        name="new_password" type="text" id="new_password"
                        placeholder="{{'enternewpasswordPlace'|translate}}" />
                    <ng-template #newpasswordTpl let-control>
                        <ng-container
                            *ngIf="control.hasError('minlength')">{{'newPasswordMin'|translate}}</ng-container>
                        <ng-container
                            *ngIf="control.hasError('required')">{{'newPasswordRequire'|translate}}</ng-container>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
            <ng-template #NewPassTem>
                <span nz-icon [nzType]="newPassVisible ? 'eye-invisible' : 'eye'"
                    (click)="newPassVisible = !newPassVisible"></span>
            </ng-template>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="8" nzFor="confirm_password" nzRequired>
                {{'confirmNewPassword'|translate}}
            </nz-form-label>
            <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmpasswordTpl">
                <nz-input-group [nzSuffix]="ConfirmPassTem" class="ip">
                    <input [type]="confirmPassVisible ? 'text' : 'password'" nz-input formControlName="confirm_password"
                        name="confirm_password" type="text" id="confirm_password"
                        placeholder="{{'confirmnewpasswordPlace'|translate}}" />
                    <ng-template #confirmpasswordTpl let-control>
                        <ng-container *ngIf="control.hasError('confirm')">
                            {{'passwordInconsistence'|translate}}
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            {{'conPass'|translate}}
                        </ng-container>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
            <ng-template #ConfirmPassTem>
                <span nz-icon [nzType]="confirmPassVisible ? 'eye-invisible' : 'eye'"
                    (click)="confirmPassVisible = !confirmPassVisible"></span>
            </ng-template>
        </nz-form-item>
    </form>
    <div nz-row *nzModalFooter class="footer" nzJustify="end">
        <button nz-button nz-col (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button nz-button nz-col nzType="primary" (click)="showChangePasswordPopUp()"
            [disabled]="changePasswordForm.invalid || changePasswordForm.hasError('passwordMismatch', 'confirm_password')"
            [nzLoading]="isConfirmLoading">
            {{'change'|translate}}
        </button>
    </div>
</div>