.save {
  margin-right: 8px;
}

.create-team {
  margin: 0 0 5px 0;
}

.team {
  @media screen and (max-width: 576px) {
    .create-qa {
      width: 100vw;
      max-width: 100%;
      margin-top: 15px;
    }
  }

  .create-qa {
    margin: 0 0 5px 0;
  }

  .user-list {
    margin: 25px 0 0;

    .tag {
      margin: 0 5px 5px 0;
    }

    .load-more {
      text-align: center;
    }
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}