<div class="password-container">
  <h3 nz-typography>MTM Community Forum</h3>
  <nz-card class="password-card">
    <h4 nz-typography>Reset Password</h4>
    <form nz-form [formGroup]="mailForm" (ngSubmit)="passwordReminder()">
      <nz-form-item nzJustify="space-between" nz-row>
        <nz-form-label [nzMd]="9" [nzSm]="24" nzRequired nzFor="email">email</nz-form-label>
        <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="Please enter a valid email address.">
          <input nz-input formControlName="email" id="email" placeholder="Write Email"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzJustify="space-between" nz-row>
        <nz-form-control [nzMd]="{ span: 14, offset: 10 }" [nzSm]="{ span: 24, offset: 1 }">
          <button nz-button nzType="primary" [disabled]="!mailForm.valid">Send
            Email</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  <span nz-typography class="password">
    <a routerLink="/signin">Back to Login</a>
  </span>
</div>
