<ul nz-menu nzMode="inline" class="menu-block">
  <li nz-menu-item nzMatchRouter>
    <nz-space nzSize="small">
      <span class="menu-icon" *nzSpaceItem nz-icon nzType="user" nzTheme="outline"></span>
      <a class="menu-link" *nzSpaceItem routerLink="/user-list">User List</a>
    </nz-space>
  </li>
  <li nz-menu-item nzMatchRouter>
    <nz-space nzSize="small">
      <span class="menu-icon" *nzSpaceItem nz-icon nzType="apartment" nzTheme="outline"></span>
      <a class="menu-link" *nzSpaceItem routerLink="/department-list">Department</a>
    </nz-space>
  </li>
  <li nz-menu-item nzMatchRouter>
    <nz-space nzSize="small">
      <span class="menu-icon" *nzSpaceItem nz-icon nzType="team" nzTheme="outline"></span>
      <a class="menu-link" *nzSpaceItem routerLink="/team-list">Team</a>
    </nz-space>
  </li>
  <li nz-menu-item nzMatchRouter>
    <nz-space nzSize="small">
      <span class="menu-icon" *nzSpaceItem nz-icon nzType="appstore" nzTheme="outline"></span>
      <a class="menu-link" *nzSpaceItem routerLink="/category-list">Category</a>
    </nz-space>
  </li>
  <li nz-menu-item nzMatchRouter>
    <nz-space nzSize="small">
      <span class="menu-icon" *nzSpaceItem nz-icon nzType="message" nzTheme="outline"></span>
      <a class="menu-link" *nzSpaceItem routerLink="/message">Message</a>
    </nz-space>
  </li>
  <li nz-menu-item nzMatchRouter>
    <nz-space nzSize="small">
      <span class="menu-icon" *nzSpaceItem nz-icon nzType="logout" nzTheme="outline"></span>
      <a class="menu-link" *nzSpaceItem routerLink="/signin">Logout</a>
    </nz-space>
  </li>
</ul>