.password-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    margin-top: 145px;
  
    @media screen and (max-width: "575px") {
      margin-top: 65px;
    }
  
    .title {
      font-size: 24px;
      color: #000000D9;
      margin-bottom: 25px;
    }
  
    .password-card {
      width: 400px;
  
      @media screen and (max-width: "575px") {
        width: 100%;
      }
  
      .password-title {
        display: block;
        font-size: 16px;
        color: #000000D9;
        margin-bottom: 25px;
      }
  
      .ant-form-item-explain-error {
        font-size: 10px;
      }
    }
  
    .password {
      width: 400px;
      text-align: right;
      margin-top: 15px;
  
      @media screen and (max-width: "575px") {
        width: 100%;
      }
    }
  }