<div class="password-container">
  <h3 nz-typography>MTM Community Forum</h3>
  <nz-card class="password-card">
    <h4 nz-typography>Reset Password</h4>
    <form nz-form [formGroup]="resetPasswordForm" (ngSubmit)="passwordReminder()">
      <nz-form-item nzJustify="space-between" nz-row>
        <nz-form-label [nzMd]="9" [nzSm]="24" nzRequired nzFor="password">Password</nz-form-label>
        <nz-form-control [nzMd]="14" [nzSm]="24" [nzErrorTip]="passwordErrorTpl">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" nz-input formControlName="password"
              placeholder="Write Password" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">please input your password</ng-container>
              <ng-container *ngIf="control.hasError('minlength')">password must be at least 6 characters</ng-container>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
        <ng-template #suffixTemplate>
          <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
      </nz-form-item>
      <nz-form-item nzJustify="space-between" nz-row>
        <nz-form-label [nzMd]="9" [nzSm]="24" nzRequired nzFor="retype_password">Retype Password</nz-form-label>
        <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="Password Is Inconsistent!">
          <nz-input-group [nzSuffix]="ConfirmPassTem" class="ip">
            <input nz-input [type]="confirmPassVisible ? 'text' : 'password'" formControlName="retype_password"
              id="retype_password" placeholder="Write Confirm Password" />
          </nz-input-group>
        </nz-form-control>
        <ng-template #ConfirmPassTem>
          <span nz-icon [nzType]="confirmPassVisible ? 'eye-invisible' : 'eye'"
            (click)="confirmPassVisible = !confirmPassVisible"></span>
        </ng-template>
      </nz-form-item>
      <nz-form-item nzJustify="space-between" nz-row>
        <nz-form-control [nzMd]="{ span: 14, offset: 10 }" [nzSm]="{ span: 24, offset: 1 }">
          <button nz-button nzType="primary" [disabled]="resetPasswordForm.invalid">Change Password</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  <span nz-typography class="password">
    <a routerLink="/signin">Back to Login</a>
  </span>
</div>